*.class

#kidiff3
*.orig

#package file
*.war
*.jar
*.ear

#maven
target/

#eclipse
.settings/
.project
.classpath

#idea
.idea/
/idea/
*.ipr
*.iml
*.iws

#temp
*.log
*.cache
*.diff
*.patch
*.tmp

#system
.DS_Store
Thumbs.db

#other
rebel.xml
test/

#web
*.jsp
*.html
*.htm
*.php